h1{
    font-size:100px;
    text-align: center;
}

.images,
.videos
p{
    font-size:50px;
    font-family: sans-serif;
    text-align: center;
    font-weight:200px;
    text-transform: uppercase;
}

video{
    margin:50px;
    object-fit: contain;
    width:300px;
}

.images{
    margin-left:auto;
    margin-right:auto;
    display: block;
    width:95%
}
.images img{
    display: inline-block;
    width:300px;
    margin:30px;
    object-fit:cover;
    object-position: center;
}
.videos{
    margin-left: auto;
    margin-right:auto;
    display:block;
    width:80%;    
}

.halloween{
    background-image:linear-gradient(white , rgb(51, 47, 44 ));
}

#xmas-images img{
    height:400px;
}

.christmas{
    background-image:linear-gradient(rgb(195, 249, 255) , white);
}

#xmas-videos video{
    height:400px;
    object-fit:initial;
}