
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    margin:0px , 0px , 0px , 0px;
}

.Header{
    background-color: rgb(51, 47, 44);
    width:100%;
    height : 400px;
    margin:0px;
}

.Header img{
   width: 10% ;
   display:block;
   margin-left:auto;
   margin-right:auto;
   padding-top:100px;
   padding-bottom:100px;
   border-radius: 50%;
   background-blend-mode:luminosity;
}
nav{
    width:100%;
    text-align: center;
  
}
nav a {
    padding:12px;
    font-size:18px;
    color:red;
    text-decoration: none;
}

nav a:hover{
    color:white;
}


#Main-page-content_top-half{
    width:70%;
    font-size:40px ;
    font-family: arial black;
    text-decoration:wavy;
    text-align: center;
    font-weight:bold;
    line-height:50px;
    float: left;
    margin-right:0px;
    background-image:linear-gradient(to right, rgb(195, 249, 255) , white);
    background-blend-mode:overlay;
}
#Main-page-content_top-half p{
    margin:0;
    padding:0;
}

#latest_events{
        float:right;
        width:30%;
        height:100%;
        margin:0px;
        padding:0px;
        background-image:linear-gradient(to left, rgb(195, 249, 255) , white);

    }
#latest_events h2{
        text-align:center;
}    
    
#latest_events img{
    width:200px;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 75px;
    transition: transform 0.3s ease-in-out;
}

#latest_events img:hover{
    transform: scale(1.8);
}

#latest_events figcaption{
    text-align: center;
}

#Main-page-content_bottom-half{
    width:70%;
    font-size:40px ;
    font-family: arial black;
    text-decoration:wavy;
    text-align: center;
    font-weight:bold;
    line-height:50px;
    float: left;
    margin-right:0px;
    background-image:linear-gradient(to right, rgb(195, 249, 255) , white);
}
#Main-page-content_bottom-half p{
    margin:0;
    padding:0;
}
footer{
    background-color: rgb(51, 47, 44);
    width:100%;
    height : 100px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;
    padding-top:25px;
    margin:0px;
    padding-bottom:50px;
    font-size:50px;
    
}

.contact-us h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color:red
}

.contact-us h2{
    margin-left:20px;
}

.contact-us p{
    font-size: 20px;
    margin-left: 30px;
}

.contact-us img{
    width:60%;
}

#donation-form-heading{
    text-align:center;
}

#donation-form-heading p{
    font-size:50px;
    font-weight:200px;
}

